body, ul, p, h4{

 margin:0px;
 padding:0px;
 
 font-family: "NYC Sans Bold", "NYC Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

.clearfix{
 	
    clear:both;

 }

 a {

    text-decoration: none;
 }
.header {
     
     padding: 20px 12px;
     background-color:#FDFFFC;
}

.header img {
	width: 6%;
	margin: 0 20px;
	vertical-align:bottom;
	height:1vm;
 }

.header .content {
    width: 85%;
    display:inline-block;
    margin-left:30px;

}


.header .content ul li {
	
	float:left;
	text-align:right;
	display:block;
	font-size:25px;
    margin:18px;
    padding:0 15px;

}

.header a{

    border: 1px solid #A9DEF9;
    border-radius:8px;
    padding:7px 16px;
    background-color:#D3F8E2;
}


    


.section-one {
	
    background-image: url(http://www.jean-georges.com/content/slides/jg_food_010.jpg);
    width: 100%;
    height: 100%;
    background-position: 10%;
    z-index: -1;
    font-family: "NYC Sans Bold", "NYC Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 200px 30px;
    font-size: 1.2em;
}

.section-oneplus {
    
    background-color:#DAFFEF;
    height:75px;
    
}
.section-oneplus h4{
  
  background: #64B6AC;
  position:relative;
  color:white;
  text-align:right;
  font-family:Lato,Helvetica,Arial,sans-serif;;
  font-size:22px;
  text-decoration: underline;
  display:block;
  padding:12px 20px 15px 4px;
  margin-right:20px;
}

.section-two {
    background-image: url(https://rdc.rdcimage.com/themes/4.1.9.26/themes/base/home/images/homepage/section4/emailsignup-background.jpg);
    background-size:cover;
    display: inline-block;
    height: 300px;
    width: 100%;
    vertical-align: middle;
    -ms-background-size: 100%;
    background-size: 100%;
}

.section-two #text p {

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 30px;
    color:#5D737E;
    position: relative;
    top: 28px;
    left: 62px;
}

.section-two #text input {

    width: 30%;
    height: 35px;
    margin: 50px 20px 40px 65px;
    cursor: pointer;
}

.section-three ul{
   
   display:inline-block;
   margin:30px 0 50px 175px;

}

.section-three ul li{
    float:left;
    margin:20px 30px;
    font-size: 1.4em;
}

.section-three {
    background-color:#FDFFFC;
}



.search-now{
    background-image: url(http://www.danielboulud.com/content/slides/daniel-food-summer2012-01-765-b-sea-bass-web-size.jpg);
    width: 100%;
    height: 100%;
    background-position: 10%;

}

.search-now #text {

    font-family: "NYC Sans Bold", "NYC Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 200px 0;
    font-size: 1.2em;
    text-align: left;
    color:#64B6AC;
    margin:0 30px;

}

.search-now #text ul li{
    font-size: 25px;
    padding:10px 0;
}
 
.bottom img {
   
   width:100%;
}














